body {
  background-color: lightblue;
  color: darkblue;
}

h1 {
  padding-left: 1em;
}

p {
  padding: 0 1em;
}

.navbar-light .navbar-nav .nav-link {
  color: darkblue;
}
.nav-link {
  padding: 0;
}

/*Presenting the menu bar in a material designish kind of fashion */
@media screen and (min-width: 576px) {
	.actionBar {
		display: none;
	}
}
@media screen and (max-width: 575px) {
	h1 {
		display: none;
	}
  .navbar-light .navbar-brand {
    color: darkblue;
  }
  .navbar-light .navbar-toggler {
    background-color: darkblue;
    color: darkblue;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(173,206,230)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
  .nav-link {
    padding: 0.5em 1em;
  }
}
